<div class="container">
  <form action="">

    <div class="row">
      <div>
        <label for="name" class="lbl">Nombre</label>
      </div>
      <div>
        <input 
        type="text" 
        id="name" 
        class="datos"
        placeholder="Nombre"
        name="nombre"
        [(ngModel)]="datos.nombre"
        required
        minlength="10"
        #nombre="ngModel"
        [class.is-invalid]="nombre.invalid && nombre.touched"
        pattern="^[a-zA-ZñÑ\s]+$">
        
        <small class="text-danger" *ngIf="nombre.invalid && nombre.touched">
          Ingrese mas de 3 letras
        </small>
      </div>
    </div>

    <div class="row">
      <div>
        <label for="direction" class="lbl">Direccion</label>
      </div>
      <div>
        <input 
        type="text" 
        id="direction" 
        class="datos"
        name="direccion"
        [(ngModel)]="datos.direccion"
        required
        minlength="10"
        #direccion="ngModel"
        [class.is-invalid]="direccion.invalid && direccion.touched"
        pattern="^[a-zA-zñÑ\s]+$"
        >
        <small class="text-danger" *ngIf="direccion.invalid && direccion.touched">Ingrese mas de 15 letras</small>
      </div>
    </div>

    <div class="row">
      <div class="alinea-btn">
        <button type="submit" class="bot">Guardar</button>
      </div>
    </div>
      
  </form>
</div>