.container {
  border-radius: 5px;
  background-color: #f2f2f27c;
  padding: 20px;
  margin-left: 30%;
}
.row {
  padding-top: 30px;
}
 
.datos {
  width: 55%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
  

.bot {
  width: 10%;
  padding: 12px;
  cursor: pointer;
  background-color: rgb(47, 122, 244);
  color: #ccc;
  border-radius: 10%;
  border: 1px solid #ccc;
}
  
.text-danger {
  display: block;
  margin-left: 7.5%;
  padding-top: 2px;
  color: #ff0000a6;
}

.is-invalid {
  border: 1px solid #ff0000a6;
}